<h1>{{title}}</h1>
   
   <form id= 'jewelryForm' action="/jewelry/" method="POST" enctype="multipart/form-data">
            <label for="jewel">Jewelry Id: </label>
            <br>
            <input id="jewel_id" type="text" name="jewelry_id" value="ETG-5">
            <br>
            <label for="gold_metal_price"> Work: </label>
            <br>
            <input type="text" name='work_cost' value="9">
            <br>
            <label for="other_cost"> Other cost: </label>
            <br>
            <input type="text" name='other_cost' value="9">                   
            <br>
            <input type="hidden" name="msgtype" value="2"/>
            <input type="file" name="uploadfile"/>
            <br>
            <button class="btn btn-success"> Submit <span class="fa fa-arrow-right"></span></button>
</form>

<script src="/javascripts/jewelryForm.js"></script> <!-- load our javascript file -->
