
<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>price_9K</th>
        <th>price_14k</th>
    </tr>
    {{#each jewel}}
    <tr>
        <td>{{jewelry_id}}</td>
        <td>{{gold_metal_price.price_9K}}</td>
        <td>{{gold_metal_price.price_14K}}</td>
        
    </tr>
    {{/each}}
    
</table>

