
<table class="table table-striped">
    <tr>
        <th></th>
        <th>ΤΙΜΗ Κ9</th>
        <th>ΤΙΜΗ Κ14</th>
        <th>ΤΙΜΗ Κ18</th>        
    </tr>
    <tbody>
        <tr>
            <td></td>
            <td id='pricesK9'>0</td>   
            <td id='pricesK14'>0</td>
            <td id='pricesK18'>0</td>
        </tr>
        <tr>
            <td>ΜΕΤΑΛΛΟ ΣΕ ΧΡΥΣΟ (GR):</td>
            <td id = 'gold_priceK9'>0</td>
            <td id = 'gold_priceK14'>0</td>
            <td id = 'gold_priceK18'>0</td>
        </tr>
        <tr>    
            <td>ΠΡΟΜ ETSY:</td>
            <td id = 'commission_etsyK9'>0</td>    
            <td id = 'commission_etsyK14'>0</td>    
            <td id = 'commission_etsyK18'>0</td>    
        </tr>    
        <tr>
            <td>ΛΙΑΝΙΚΗ ΤΙΜΗ (EUR):</td>
            <td id = 'retail_price_eurK9'>0</td>    
            <td id = 'retail_price_eurK14'>0</td>    
            <td id = 'retail_price_eurK18'>0</td>         
        </tr>
        <tr>
            <td>ΛΙΑΝΙΚΗ ΤΙΜΗ (DOL):</td>
            <td id = 'retail_price_dolK9'>0</td>    
            <td id = 'retail_price_dolK14'>0</td>    
            <td id = 'retail_price_dolK18'>0</td> 
        </tr>
        <tr>
            <td>ΕΞΟΔΑ:</td>
            <td id = 'costK9'>0</td>    
            <td id = 'costK14'>0</td>    
            <td id = 'costK18'>0</td> 
        </tr>
        <tr>
            <td>ΕΦΟΡΙΑ (26%):</td>
            <td id = 'taxisK9'>0</td>    
            <td id = 'taxisK14'>0</td>    
            <td id = 'taxisK18'>0</td> 
        </tr>
        <tr>
            <td>ΚΕΡΔΟΣ:</td>
            <td id = 'incomesK9'>0</td>    
            <td id = 'incomesK14'>0</td>    
            <td id = 'incomesK18'>0</td> 
        </tr>
    </tbody>
</table>





