
<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>work_cost</th>
        <th>other_cost</th>
    </tr>
    {{#each jewel}}
    <tr>
        <td>{{jewelry_id}}</td>
        <td>{{work_cost}}</td>
        <td>{{other_cost}}</td>
        
    </tr>
    {{/each}}
    
</table>

<a href="/jewelry/create" class="btn btn-info" role="button">Create</a>