<h1>{{title}}</h1>

    <form action="/jewelry/" method="post" enctype='application/json'>
        
            <label for="jewel_id">Jewelry Id: </label>
            <br>
            <input id="jewel_id" type="text" name="jewelry_id" value="ETG-5">

            
            <br>

            <label for="gold_metal_price"> Work: </label>
            <br>
            <input type="text" name='work_cost' value="9">
            <br>
            <label for="other_cost"> Other cost: </label>
            <br>
            <input type="text" name='other_cost' value="9">                   
            <br>
        <input type="submit" value="OK">
    </form>
